<!DOCTYPE html>
<html>
  <head>
    <title>Diplomarbeitantragsformular</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>

  <body>
    <div class="container" id="app">
      <h1>{{ titel }}</h1>
    </div>
    <script src="/public/javascripts/vue.min.js"></script>
    <script src="/public/javascripts/axios.min.js"></script>
    <script src="/public/javascripts/app.js"></script>
  </body>
</html>
